/* CSS stylesheet for English in Munich */

/* General Styling */

/* Top Navigation Bar */

.navbar-brand {
	text-decoration: none;
}

.navbar {
	background-color: #1f2b38;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	padding: 0 2%;
	border: none !important;
}

.nav-list, .active > a {
	background-color: #43969d !important;
}

.navbar-toggle {
	background-color: #aaa;
}

/* General Typography */

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 3em;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}

.section-header {
	text-align: center;
	margin-top: 5%;
}

/* Backgrounds and Font Colors */

#about {
	background-color: #1f2b38;
	color: #d4d8dd;
}

#courses {
	background-color: #aaa;
	color: #000;
}

#testimonials {
	background-color: #1f2b38;
	color: #d4d8dd;
}

#resources {
	background-color: #aaa;
	color: #000;
}

#links {
	background-color: #1f2b38;
	color: #d4d8dd;
}

#contact {
	background-color: #aaa;
	color: #000;
}

footer {
	background-color: #1f2b38;
	color: #d4d8dd;
}

/* Top Section */

header {
	height: 100vh;
	background: url("../img/munich_skyline.jpg") center center fixed;
	background-size: cover;
	color: #d4d8dd;
}

.header-container {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}

.header-content h1 {
	display: none;
	font-size: 4em;
	margin-bottom: 15%;
}

.header-content h2 {
	display: none;
}

/* About Section */

.about-row {
	width: 75%;
	margin: 5% auto;
	text-align: left;
}

.about-row p {
	text-align: left;
}

#portrait {
	border-radius: 5px;
	margin: auto;
}

#celta {
	border-radius: 5px;
	margin: 5% auto 0 auto;
}

/* Courses Section */

#courses-table {
	width: 75%;
	margin: 5% auto;
	border: 1px solid #000;
}
#courses-table th {
	text-align: center;
	vertical-align: middle;
	color: #1f2b38;
	font-size: 1.5em;
	font-style: italic;
	padding: 5px;
}

#courses-table td {
	width: 20%;
	vertical-align: top;
	padding: 3%;
}

#courses-table p {
	text-align: left;
}

.hidden {
	display: none;
}

/* Testimonials Section */

#testimonials {
	padding-bottom: 5%;
}

#testimonials-table {
	width: 90%;
	margin: 5% auto;
	border: 1px solid #d4d8dd;
}

#testimonials-table td {
	padding: 1%;
	border: 1px solid #d4d8dd;
}

#testimonials-table td:hover {
	background-color: #35404b;
}

#testimonials-table p {
	text-align: left;
}

#testimonials-companies {
	width: 90%;
	margin: auto;
}

/* Resources Section */

#resources-subheader {
	text-align: left;
	margin-bottom: 5%;
}

.resource-links {
	width: 60%;
	border: 1px solid #1f2b38;
	padding: 2% 5%;
	margin: 5% auto 5% auto;
}

.resource-links p {
	text-align: left;
}

.resource-links a {
	text-decoration: none;
}

.modal-body img {
	display: block;
	margin: 0 auto;
}

/* Links Section */

#links-table {
	width: 70%;
	margin: 5% auto;
}

#links-table td {
	text-align: center;
	font-size: 1.5em;
	padding: 4%;
	border: 1px solid #d4d8dd;
}

#links-table td:hover {
	background-color: #35404b;
}

#links-table img {
	display: block;
	margin: 0 auto;
}

#links-table a {
	text-decoration: none;
}

/* Contact Section */

/* Modal Section Google Map */

.modal-container {
	width: 60%;
	margin: auto;
}

.modal-container h3 {
	text-align: left;
}

.btn-primary {
	background-color: #1f2b38;
}

.btn-primary:hover {
	background-color: #43969d;
	color: #000;
}

#google-map-body {
	height: 60vh;
}

#map {
	height: 100%;
}

/* Contact Section Submission Form */

form {
	width: 60%;
	border: 1px solid #1f2b38;
	padding: 2%;
	margin: 3% auto;
}

input, textarea {
	font-family: 'Merriweather', serif;
	color: #34495e !important;
}

.form-group {
	width: 80%;
	margin: 0 auto;
}

.form-control {
	background-color: #d4d8dd;
	height: 1.75em;
	line-height: 1.25em;
	font-size: 1.25em;
}

#form-button {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #1f2b38;
	color: #1f2b38;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.open > .dropdown-toggle.btn-primary {
	color: #43969d;
	border-color: #43969d;
}

.btn-primary.outline:active {
	background-color: #43969d;
	border-color: #43969d;
	outline: none;
	color: #fff;
	box-shadow: none;
}

#visible-status {
	height: 50px;
	width: 50%;
	margin: 0 auto;
}

.alert {
	text-align: center;
}

/* Footer */

footer {
	width: 100%;
	height: 300px;
	padding: 20px 0;
}

#footer-content {
	width: 80%;
	margin: 0 auto;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d4d8dd;
	padding: 0;
	margin: 2em auto;
}

.socia-media-links {
	text-align: center;
	margin: 20px 0;
}

.btn-social-icon {
	display: inline-block;
	margin: 0 10px;
}

.btn-xing {
	color: #f4f4f4;
	background-color: #236264;
}

.btn-xing:hover {
	color: #f4f4f4;
	background-color: #235253;
}

.copyright {
	color: #d4d8dd;
	text-align: center;
}

/* Media Queries */

@media (min-width: 400px) {
	.header-container {
		position: absolute;
		top: 55%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0 50px;
	}
	.header-content {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 510px) {
	#courses-table {
	display: none;
	}
	#testimonials-table {
		display: none;
	}
	.hidden {
		display: block !important;
		border: 1px solid #d3d3d3;
		padding: 5px;
		margin: 5% 0;
	}
	#visible-status {
		height: 70px;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		font-size: 0.8em;
	}
	.header-content h2 {
		display: none !important;
	}
	.about-row {
		width: 100%;
	}
	.resource-links {
		width: 100%;
	}
	#links-table {
		width: 100%;
	}
	form {
		width: 100%;
	}
	.form-group {
		width: 100%;
	}
}

@media (max-width: 900px) {
	#courses-table {
		width: 100%;
	}
	#testimonials-table {
		width: 100%;
	}
	.resource-links {
		width: 80%;
	}
	#contact-form {
		width: 100%;
	}
	form {
		width: 95%;
	}
	.form-group {
		width: 95%;
	}
}

@media (max-width: 1000px) {
	form {
		width: 90%;
	}
	.form-group {
		width: 90%;
	}
}

@media (max-width: 1100px) {
	/* Bootstrap navbar collapse */
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav > li {
		float: none;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	.navbar-collapse.collapse.in { 
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
	form {
		width: 80%;
	}
	.form-group {
		width: 80%;
	}
}